@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

// set background color

@mixin setBgColor($color) {
    background-color: $color;
}

// set text color

@mixin setTextColor($color) {
    color: $color;
}

// set border color

@mixin setBorderColor($color) {
    border-color: $color;
}