.p{
    &-1{
        padding: 2px;
    }
    &-2{
        padding: 4px;
    }
    &-3{
        padding: 6px;
    }
    &-4{
        padding: 8px;
    }
    &-5{
        padding: 10px;
    }
    &-6{
        padding: 12px;
    }
}